<!DOCTYPE html>
<html>

<head>
    <title>EpiStalk</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/css/setting.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='public/js/settings.js'></script>
    <script type="text/javascript" src='public/js/navbar.js'></script>
    <script type="text/javascript" src='public/js/firstconnectionmodal.js'></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117085909-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117085909-1');
    </script>
</head>

<body class="noselect">
    <div style="width:30%; margin: 2% auto;">
        <div style="margin-top: 10%;">
            <h2 class="text-center">About</h2>
            <br>
    </div>
</body>

</html>