<!DOCTYPE html>
<html>

<head>
    <title>EpiStalk</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='public/js/home.js'></script>
    <script type="text/javascript" src='public/js/navbar.js'></script>
    <script type="text/javascript" src='public/js/firstconnectionmodal.js'></script>
</head>

<body class="noselect">
    <div style="width:80%; margin: 0 auto;">
        <input type="text" class="form-control" id="search-leaderboard" placeholder="STG 2021 Thi..." title="Type in a name">
        <br>
        <div class="row">
            <div id="dropdown-filter-promo" class="dropdown col-sm-1">
                <button class="btn btn-info dropdown-toggle col-sm-12" type="button" data-toggle="dropdown">Promo
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"></ul>
            </div>
            <div id="dropdown-filter-city" class="dropdown col-sm-1">
                <button class="btn btn-info dropdown-toggle col-sm-12" type="button" data-toggle="dropdown">City
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"></ul>
            </div>
        </div>
        <small id="dropdown-filter-small" style="color: tomato; margin-left: 1%;"></small>
        <br>
        <div style="margin-right:10px">
            <table id="leaderboard" class="table table-striped text-center" style="margin-bottom: 0px;">
                <thead>
                    <tr class="header-leaderboard">
                        <th class="text-left" scope="col">#</th>
                        <th class="text-center" scope="col" onclick="buildSortedLeaderboardBy('firstname')">First name</th>
                        <th class="text-center" scope="col" onclick="buildSortedLeaderboardBy('lastname')">Last name</th>
                        <th class="text-center" scope="col" onclick="buildSortedLeaderboardBy('city')">City</th>
                        <th class="text-center" scope="col" onclick="buildSortedLeaderboardBy('promo')">Promo</th>
                        <th class="text-center" scope="col" onclick="buildSortedLeaderboardBy('current_week_log')">Log</th>
                        <th class="text-center" scope="col" onclick="buildSortedLeaderboardBy('credit')">Credits</th>
                        <th class="text-center" scope="col" onclick="buildSortedLeaderboardBy('gpa')">GPA</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- HERE GOES THE RESPONSIVE TAB FROM HOME.JS -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <h1 class="spinner-leaderboard glyphicon glyphicon-refresh glyphicon-refresh-animate"></h1>
    </div>
    <div style="margin-bottom: 5%;"></div>
</body>

</html>