<!DOCTYPE html>
<html>

<head>
    <title>TA GROSSE MERE</title>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='public/js/home.js'></script>
    <script type="text/javascript" src='public/js/navbar.js'></script>
    <script type="text/javascript" src='public/js/firstconnectionmodal.js'></script>
</head>

<body class="noselect">
    <div style="width:80%; margin: 0 auto;">
        <input type="text" class="form-control" id="search-leaderboard" placeholder="STG 2021 Thi..." title="Type in a name">
        <br>
        <div style="margin-right:10px">
            <table id="leaderboard-header" class="table table-striped text-center" style="margin-bottom: 0px;">
                <thead>
                    <tr class="header-leaderboard">
                        <th class="text-left" scope="col">#</th>
                        <th class="text-center" scope="col" onclick="sortLeaderboard(0)">First name</th>
                        <th class="text-center" scope="col" onclick="sortLeaderboard(1)">Last name</th>
                        <th class="text-center" scope="col" onclick="sortLeaderboard(2)">City</th>
                        <th class="text-center" scope="col" onclick="sortLeaderboard(3)">Promo</th>
                        <th class="text-center" scope="col" onclick="sortLeaderboard(4)">Log</th>
                        <th class="text-center" scope="col" onclick="sortLeaderboard(5)">Credits</th>
                        <th class="text-center" scope="col" onclick="sortLeaderboard(6)">GPA</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="height:700px; overflow-y:auto;">
            <table id="leaderboard-data" class="table table-striped text-center">
                <tbody>
                    <!-- HERE GOES THE RESPONSIVE TAB FROM HOME.JS -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <h1 class="spinner-leaderboard glyphicon glyphicon-refresh glyphicon-refresh-animate"></h1>
    </div>
    </table>
</body>

</html>