<!DOCTYPE html>
<html>

<head>
	<title>TA GROSSE MERE</title>
	<link rel="stylesheet" type="text/css" href="/public/css/home.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1><%= user.email %></h1><br>
    <h1><%= user.gpa %></h1><br>
<a href='/logout'>Se deconnecter</a>
</body>
</html>