<!DOCTYPE html>
<html>

<head>
	<title>EpiStalk</title>
	<link rel="icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/public/css/login.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
	<div class="login-page">
		<div class="alert fade" id="bsalert">
			<a href="#" id="close" class="close" aria-label="close">&times;</a>
			<p><strong id=alert-msg>alert-msg</strong>
		</div>
		<div class="form">
			<form class="register-form" id="register-form">
				<input type="email" name="email" id="remail" placeholder="email" />
				<input type="password" name="pass" id="rpass" placeholder="password" />
				<button type="button" id='register'>register</button>
				<p class="message">Already registered?
					<a href="#">Sign In</a>
				</p>
			</form>
			<form id='login-form' class="login-form">
				<input type="email" name="email" id="lemail" placeholder="email" />
				<input type="password" name="pass" id="lpass" placeholder="password" />
				<button type="button" id='login'>login</button>
				<p class="message">Not registered?
					<a href="#">Create an account</a>
				</p>
			</form>
		</div>
	</div>
	<script src="/public/js/login.js"></script>
</body>

</html>