<!DOCTYPE html>
<html>

<head>
    <title>EpiStalk</title>
    <link rel="stylesheet" type="text/css" href="/public/css/setting.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='public/js/settings.js'></script>
    <script type="text/javascript" src='public/js/navbar.js'></script>
    <script type="text/javascript" src='public/js/firstconnectionmodal.js'></script>
</head>

<body class="noselect">
    <form style="width:30%; margin: 0 auto;">
        <div class="alert fade" id="bsalert">
            <a href="#" id="close" class="close" aria-label="close">&times;</a>
            <strong id=alert-msg>alert-msg</strong>
        </div>
        <p class="text-center">MY PROFIL</p>
        <div class="form-group">
            <input type="text" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="passwordConfirm" placeholder="Password confirm">
        </div>
        <button type="button" id='change'>Save</button>
    </form>
</body>

</html>