<!DOCTYPE html>
<html>

<head>
    <title>TA GROSSE MERE</title>
    <link rel="stylesheet" type="text/css" href="/public/css/user.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='public/js/user.js'> </script>
    <script type="text/javascript" src='public/js/navbar.js'></script>
</head>

<body class="noselect">
    <!-- Modal rank show all -->
    <div id="modal-rank-show-all" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Are you sure ?</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Show all ranks might slow your browser</p>
                </div>
                <div class="modal-body text-center row">
                    <div class="col-xs-6">
                        <a id="rank-show-all" class="btn btn-danger" data-dismiss="modal" role="button">Show all</a>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal mark show all -->
    <div id="modal-mark-show-all" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Are you sure ?</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Show all marks might slow your browser</p>
                </div>
                <div class="modal-body text-center row">
                    <div class="col-xs-6">
                        <a id="mark-show-all" class="btn btn-danger" data-dismiss="modal" role="button">Show all</a>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="width:50%; margin: 2% auto;">
            <div class="text-center puser-loading-hide" style="margin-top: 40%;">
                <h2 class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></h2>
            </div>
            <div class="puser-loading-show" style="display: none">
                <div class="row">
                    <div class="text-left col-sm-4">
                        <img class="puser-picture" alt="User picture" style="display:none">
                    </div>
                    <div class="text-right col-sm-8">
                        <h1 style="margin-bottom: 0; margin-bottom: 0;" class="get-upper-puser"></h1>
                        <h1 style="margin-top: 0; margin-bottom: 0;">
                            <small>Promo
                                <span class="get-puser-promo"></span>&nbsp;
                                <span class="get-puser-city"></span>
                            </small>
                        </h1>
                        <h1 style="margin-top: 0; margin-bottom: 0;">
                            <small>
                                GPA
                                <span class="get-puser-gpa"></span>
                                /
                                <span class="get-puser-credit"></span>
                                credits
                            </small>
                        </h1>
                        <h1 style="margin-top: 0; margin-bottom: 0;">
                            <small>
                                <span class="get-puser-current_week_log"></span>
                                h
                            </small>
                        </h1>
                        <br>
                    </div>
                </div>
                <div class="row rank-view" style="margin-top: 7%; display: none;">
                    <div style="margin-bottom: 3%">
                        <h2>Ranks</h2>
                        <span data-toggle="modal" data-target="#modal-rank-show-all" class="btn btn-primary label label-primary">Show all</span>
                    </div>
                    <input type="text" class="form-control" id="search-rank" placeholder="2018 English..." title="Type in a name">
                    <br>
                    <div style="margin-right:10px">
                        <table id="rank-table-header" class="table table-striped text-center" style="margin-bottom: 0px;">
                            <thead>
                                <tr class="header-rankview">
                                    <th class="text-center" scope="col" onclick='sortView("rank-table-data", 0)'>Date</th>
                                    <th class="text-center" scope="col" onclick='sortView("rank-table-data", 1)'>Code</th>
                                    <th class="text-center" scope="col" onclick='sortView("rank-table-data", 2)'>Module</th>
                                    <th class="text-center" scope="col" onclick='sortView("rank-table-data", 3)'>Rank</th>
                                    <th class="text-center" scope="col" onclick='sortView("rank-table-data", 4)'>Credits</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div style="height:10cm; overflow-y:auto;">
                        <table id="rank-table-data" class="table table-striped text-center">
                            <tbody>
                                <!-- HERE GOES THE RESPONSIVE TAB FROM USER.JS -->
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row mark-view" style="margin-top: 7%; display: none;">
                    <div style="margin-bottom: 3%">
                        <h2>Marks </h2>
                        <span data-toggle="modal" data-target="#modal-mark-show-all" class="btn btn-primary label label-primary">Show all</span>
                    </div>
                    <input type="text" class="form-control" id="search-mark" placeholder="2018 TEPitech..." title="Type in a name">
                    <br>
                    <div style="margin-right:10px">
                        <table id="mark-table-header" class="table table-striped text-center" style="margin-bottom: 0px;">
                            <thead>
                                <tr class="header-markview">
                                    <th class="text-center" scope="col" onclick='sortView("mark-table-data", 0)'>Date</th>
                                    <th class="text-center" scope="col" onclick='sortView("mark-table-data", 1)'>Module</th>
                                    <th class="text-center" scope="col" onclick='sortView("mark-table-data", 2)'>Activity</th>
                                    <th class="text-center" scope="col" onclick='sortView("mark-table-data", 3)'>
                                        <div data-toggle="tooltip" title="Hover over the marks!" style="text-decoration: underline wavy">
                                            Mark
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div style="height:10cm; overflow-y:auto;">
                        <table id="mark-table-data" class="table table-striped text-center">
                            <tbody>
                                <!-- HERE GOES THE RESPONSIVE TAB FROM USER.JS -->
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <ul id="mark-pagination" class="pagination"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>